<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IA" closeTimeout="00:00:10" openTimeout="00:00:10" receiveTimeout="00:0:10" sendTimeout="00:00:10" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="16777216" maxBufferSize="16777216" maxConnections="5000000" maxReceivedMessageSize="16777216">
          <readerQuotas maxDepth="32" maxStringContentLength="65536" maxArrayLength="16777216" maxBytesPerRead="65536" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:00:10" enabled="false"/>
          <security mode="None">
            <message clientCredentialType="Windows"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
