html {
	background: #2c455f;
	min-height: 100%;
	position: relative;
}

body {
	background: #2c455f;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #404040;	
	height: 100%;
}

a {
	color: #166693;
	text-decoration: none;
}

	a:hover {
		color: #cd3816;
	}

/* HEADER & MAIN NAV */
#elSiteTitle {
	color: #fff;
	font-size: 28px;
	line-height: 58px;
	text-decoration: none;
	font-weight: 200;
}

#ipsLayout_header > nav {
	background: #1e3142;
	background: #2d465e;
}
		
	#ipsLayout_header > nav ul {
		margin: 0 0 0 -20px;
		padding: 0;
	}

	#ipsLayout_header > nav ul li {
		display: inline-block;
		line-height: 60px;
	}

	#ipsLayout_header > nav a {
		display: block;
		font-size: 14px;
		color: #fff;
		text-decoration: none;
		padding: 0 20px;
		text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
	}

		#ipsLayout_header > nav a.active {
			color: #fff;
			text-shadow: 0px 1px 0px rgba(0,0,0,0.4);
		}

#ipsLayout_header > header {
	/*background: #1E2931;*/
	background: #1e3142;
	padding: 10px 0;
}
	
#ipsLayout_mainNav a {
	opacity: 0.6;
}

	#ipsLayout_mainNav a.active {
		background: #1e3142;
		opacity: 1;
	}

	#ipsLayout_mainNav a:hover {
		opacity: 1;
		color: #fff;
	}

/* FLASH MESSAGE */
#elFlashMessage {
	background: rgba(0,0,0,0.9);
	color: #fff;
	padding: 15px;
	position: fixed;
	top: 20px;
	left: 50%;
	width: 600px;
	margin-left: -300px;
	font-size: 15px;
	border-radius: 4px;
	text-align: center;
}

  @-webkit-keyframes progress-bar-stripes  {
      from  {
     background-position:  40px 0;
 }
  to  {
     background-position:  0 0;
 }
 }
 @-moz-keyframes progress-bar-stripes  {
      from  {
     background-position:  40px 0;
 }
  to  {
     background-position:  0 0;
 }
 }
 @-ms-keyframes progress-bar-stripes  {
      from  {
     background-position:  40px 0;
 }
  to  {
     background-position:  0 0;
 }
 }
 @-o-keyframes progress-bar-stripes  {
      from  {
     background-position:  0 0;
 }
  to  {
     background-position:  40px 0;
 }
 }
 @keyframes progress-bar-stripes  {
      from  {
     background-position:  40px 0;
 }
  to  {
     background-position:  0 0;
 }
 }


.ipsProgressBar {
	width: 50%;
	margin: auto;
	height: 20px;
	overflow: hidden;
	background: rgb(156,156,156);
	background: -moz-linear-gradient(top, rgba(156,156,156,1) 0%, rgba(180,180,180,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(156,156,156,1)), color-stop(100%,rgba(180,180,180,1)));
	background: -webkit-linear-gradient(top, rgba(156,156,156,1) 0%,rgba(180,180,180,1) 100%);
	background: -o-linear-gradient(top, rgba(156,156,156,1) 0%,rgba(180,180,180,1) 100%);
	background: -ms-linear-gradient(top, rgba(156,156,156,1) 0%,rgba(180,180,180,1) 100%);
	background: linear-gradient(to bottom, rgba(156,156,156,1) 0%,rgba(180,180,180,1) 100%);
	border-radius: 4px;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
	
  .ipsProgressBar_animated .ipsProgressBar_progress  {
      background-color:  #5490c0;
      background-image:  -webkit-gradient(linear,  0 100%,  100% 0,  color-stop(0.25,  rgba(255,  255,  255,  0.15)),  color-stop(0.25,  transparent),  color-stop(0.5,  transparent),  color-stop(0.5,  rgba(255,  255,  255,  0.15)),  color-stop(0.75,  rgba(255,  255,  255,  0.15)),  color-stop(0.75,  transparent),  to(transparent));
      background-image:  -webkit-linear-gradient(45deg,  rgba(255,  255,  255,  0.15) 25%,  transparent 25%,  transparent 50%,  rgba(255,  255,  255,  0.15) 50%,  rgba(255,  255,  255,  0.15) 75%,  transparent 75%,  transparent);
      background-image:  -moz-linear-gradient(45deg,  rgba(255,  255,  255,  0.15) 25%,  transparent 25%,  transparent 50%,  rgba(255,  255,  255,  0.15) 50%,  rgba(255,  255,  255,  0.15) 75%,  transparent 75%,  transparent);
      background-image:  -o-linear-gradient(45deg,  rgba(255,  255,  255,  0.15) 25%,  transparent 25%,  transparent 50%,  rgba(255,  255,  255,  0.15) 50%,  rgba(255,  255,  255,  0.15) 75%,  transparent 75%,  transparent);
      background-image:  linear-gradient(45deg,  rgba(255,  255,  255,  0.15) 25%,  transparent 25%,  transparent 50%,  rgba(255,  255,  255,  0.15) 50%,  rgba(255,  255,  255,  0.15) 75%,  transparent 75%,  transparent);
      background-size:  40px 40px;
      -webkit-animation:  progress-bar-stripes 2s linear infinite;
     -moz-animation:  progress-bar-stripes 2s linear infinite;
     -ms-animation:  progress-bar-stripes 2s linear infinite;
     -o-animation:  progress-bar-stripes 2s linear infinite;
     animation:  progress-bar-stripes 2s linear infinite;
 }

.ipsProgressBar_progress {
	float: left;
	width: 0;
	height: 100%;
	font-size: 12px;
	color: #ffffff;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background: #5490c0;
	position: relative;
    padding-left: 6px;
}

	.ipsProgressBar_progress[data-progress]:after {
		position: absolute;
		right: 5px;
		top: 0;
		line-height: 32px;
		color: #fff;
		content: attr(data-progress);
		display: block;
		font-weight: bold;
	}

/* Redirector */
.ipsRedirect {
	text-align: center;
}
	.ipsRedirect_loading {
		height: 100px;
	}
	.ipsRedirect_progress {
		margin-bottom: 20px;
	}

.ipsRedirect_message {
	display: block;
	text-align: center;
	font-size: 12px;
	color: #b7b7b7;
}

/* HIGH RES IMAGES */
@media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
	.ipsApp .ipsStepBar > .ipsStep > a, .ipsApp .ipsStepBar > .ipsStep > span {
		background-image: url( {resource="wizard_step_large@2x.png" app="core" location="front"} );
	}

	.ipsApp .ipsStepBar > .ipsStep + .ipsStep.ipsStep_active:after {
		background-image: url( {resource="wizard_step_extra@2x.png" app="core" location="front"} );
	}
}