.ipsSectionTitle {
	background: #1e3142;
	color: #fff;
	font-size: 16px;
	padding: 10px 45px 10px 15px;
}

	.ipsSectionTitle:not( .ipsSectionTitle_secondary ) {
		display: inline-block;
		margin: 5px 0 0 0;
	}
	
	.ipsSectionTitle .ipsButton {
		position: relative;
		top: -5px;
	}

.ipsSectionTitle_secondary {
	border-top: 2px solid #e0e0e0;
	background: #f7f7f7;
	color: #222;
	text-shadow: none;
}

/* MISC COLORS */
.ipsAreaBackground {
	background: #ebebeb;
}

.ipsAreaBackground_light {
	background: #fafafa;
}

.ipsAreaBackground_reset {
	background: #fff;
}

.ipsAreaBackground_dark {
	background: #3a5a78;
}

/* IMAGES */
.ipsImage {
	max-width: 100%; /* makes them responsive */
	background: #fff;
	/*padding: 1px;*/
	border: 3px solid #E2E2E2;
}

.ipsImage_thumb {
	max-width: 175px;
	max-height: 175px;
	border: 1px solid #E2E2E2;
}

/* MISC */
hr.ipsHr {
	margin: 15px 0;
	height: 0;
	padding: 0;
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: #f0f0f0;
}

@-webkit-keyframes spinner {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); transform: rotate(359deg); }
}
@keyframes spinner {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); transform: rotate(359deg); }
}

.ipsLoading {
	position: relative;
}

.ipsLoading:before {
	font-family: 'icomoon';
	content: '\\e97b';
	display: block;
	color: #333333;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -25px;
	margin-left: -25px;
	font-size: 50px;
	line-height: 1 !important;
	-webkit-animation: spinner 0.75s infinite linear;
	animation: spinner 0.75s infinite linear;
}

.ipsLoading.ipsLoading_small:before {
	font-size: 23px;
	margin-top: -12px;
	margin-left: -12px;
}

.ipsLoading.ipsLoading_tiny:before {
	font-size: 16px;
	margin-top: -8px;
	margin-left: -8px;
}

.ipsLoading.ipsLoading_dark:before {
	color: #fff;
}

.ipsPos_left { float: left; }
.ipsPos_right { float: right; }
.ipsPos_center { margin: 0 auto; }

.ipsClear {	clear: both; }

.ipsClearfix::after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.ipsHide { display: none }

.ipsList_inline li {
	display: inline-block;
	margin-right: 15px;
	vertical-align: middle;
}

	.ipsList_inline li:last-child {
		margin-right: 0;
	}

.ipsList_bullets {
	list-style-type: disc;
	margin-left: 16px;
}

.ipsList_checks li {
	margin-bottom: 10px;
}

li.success {
	color: #4A7C20;
}
	li.success:before {
		font-family: 'FontAwesome';
		content: '\f00c';
		margin:0 8px 0 -24px;
	}

li.fail {
	color: #A52638;
}
	li.fail:before {
		font-family: 'FontAwesome';
		content: '\f057';
		margin:0 9px 0 -23px;
	}

li.advisory {
	color: #5E707D;
}
	li.advisory:before {
		font-family: 'FontAwesome';
		content: '\f05a';
		margin:0 9px 0 -23px;
	}
	
/* STEP BAR */
.ipsStepBar {
	background: #f7f7f7;
	width: 100%;
	overflow: hidden;
}

.ipsStepBar > li {
	float: left;
	position: relative;
	line-height: 1.3;
}

.ipsStepBar > .ipsStep > a, .ipsStepBar > .ipsStep > span {
	padding: 11px 33px 11px 18px;
	background-color: #f0f0f0;
	background-image: url( {resource="wizard_step_large.png" app="core" location="front"} );
	background-repeat: no-repeat;
	background-position: bottom right;
	background-size: 200% 200%;
	height: 55px;
	min-height: 35px;
	display: inline-block;
	position: relative;
	min-width: 115px;
}

.ipsStepBar > .ipsStep.ipsStep_active > a, .ipsStepBar > .ipsStep.ipsStep_active > span {
	background-position: top right;
	color: #fff;
}

.ipsStepBar > .ipsStep + .ipsStep.ipsStep_active:after {
	background-image: url( {resource="wizard_step_extra.png" app="core" location="front"} );
	background-size: 23px 100%;
	background-repeat: no-repeat;
	width: 23px;
	height: 100%;
	position: absolute;
	top: 0;
	left: -23px;
	content: '';
	display: inline-block;
}

.ipsStep_title {
	display: block;
}

.ipsStep_desc {
	font-size: 11px;
}

.ipsPad { padding: 15px; }
.ipsPad_double { padding: 30px; }
.ipsPad_half { padding: 7px; }