<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <appSettings>
    <add key="Logentries.Token" value="c0f0f7c6-b33e-40d7-a0ec-2aa2c0b6ee88"/>
  </appSettings>
  <nlog throwExceptions="false">
    <extensions>
      <add assembly="LogentriesNLog"/>
    </extensions>
    <targets>
      <target name="logentries" type="Logentries" debug="true" httpPut="false" ssl="false"
      layout="${date:format=ddd MMM dd} ${time:format=HH:mm:ss} ${date:format=zzz yyyy} ${logger} : ${LEVEL}, ${message}"/>
    </targets>
    <rules>
      <logger name="*" minLevel="Debug" appendTo="logentries"/>
    </rules>
  </nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Dependencies" />
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IA" closeTimeout="00:00:10" openTimeout="00:00:10"
            receiveTimeout="00:00:10" sendTimeout="00:00:10" transactionFlow="false"
            transferMode="Buffered" transactionProtocol="OleTransactions"
            hostNameComparisonMode="StrongWildcard" listenBacklog="10"
            maxBufferPoolSize="16777216" maxBufferSize="16777216" maxConnections="32"
            maxReceivedMessageSize="16777216">
          <readerQuotas maxDepth="32" maxStringContentLength="65536" maxArrayLength="16777216"
              maxBytesPerRead="65536" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:00:20"
              enabled="false" />
          <security mode="None">
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://auth.elobuddy.net:443/AuthService.svc"
          binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IA"
          contract="SR.IA" name="NetTcpBinding_IA">
        <identity>
          <userPrincipalName value="us0\_us0" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
